.keyboard__keycap{
    width: 36px;
    height: 36px;
    background-color:gray;
    color:blanchedalmond;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}