.textarea__section{
    width: 90%;
    margin-inline: auto;
};

.textarea__style{
    background-color: rgb(87, 240, 245);
    background-color: white;
    width: 80%;
    height: 150px;
    // margin-inline: auto;
};